@import '~bootstrap/scss/bootstrap';

.grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2px;
  height: 600px;
  width: 604px;
}

.square {
  height: 200px;
  width: 200px;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.grid {
margin: auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
